.chat {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.messages {
  text-align: left;
  overflow-y: auto;
  height: 20vh;
  padding: 0.5em;
}

.send {
  display: flex;
  width: 100%;
  border-top: 1px solid #ccc;
}

.send input {
  width: 100%;
  border: 0;
  padding: 0.5em;
}

.send button {
  position: relative;
  color: #213547;
  background-color: #fff;
  border-radius: 0;
  border-bottom-right-radius: 8px;
  padding: 0.5em;
  cursor: pointer;
}