.header {
  position: absolute;
  width: 100%;
  height: fit-content;
  margin: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 90vw;
  transition: filter 0.5s;
}

.logo:hover {
  filter: invert(1) drop-shadow(2px 5px 2px #000000) saturate(1.5);
}

@media (min-width: 768px) {
  .header {
    margin: 1vw 0;
  }
  .logo {
    width: 50vw;
  }
}